# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
.env.*
.ConvertirAudioEnCodigo/
ConvertirAudioEnCodigo/

# System files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Transcription or audio folders (keep private or large)
*.wav
*.m4a
*.flac
*.aac
*.mp3

# Logs
*.log

# Backup files
*~

# Jupyter Notebook checkpoints (in case)
.ipynb_checkpoints/

#System document
.DS_Store
Thumbs.db
